.block{
   background: #ffccff;
   border: 0px solid #000;
    background:oldlace;
    width:50%;
    height:100%;
}
.block2{
   background: #ff99cc;
   border: 0px solid #000;
    background:oldlace;
    width:50%;
    height:100%;
    position:absolute;
    left:50%;
    /*top:100px;*/
}
.navbar-default{
  background-color: #ff99ff;
}
.img{
  display: block;
  height: 50px;
  max-width: 70%;
}

body{
    margin:0px;
}